/* Reseteo css*/

* {
    margin: 0;
    padding: 0;
}

#galeria img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

#galeria .col-lg-3 {
    text-align: center;
    padding: 25px;
}

body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgb(95, 94, 94) 100%);
    color: white !important;
}

header {
    background-image: url("../img/fotoHeader.jpg");
    background-size: 100%;
    height: 180px;
}

h1 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
    font-weight: bold !important;
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    margin-top: 100px !important;
    font-weight: bold !important;
    margin-bottom: 50px !important;
}

nav {
    margin-bottom: 60px;
}

section div div ul {
    margin-top: 70px;
    font-size: 18px;
}

section p {
    text-align: center;
}

footer {
    margin-top: 100px;
    line-height: 35px;
    color: black;
    padding: 5px;
    background-color: white;
}

footer ul li {
    font-weight: bolder;
    list-style: none;
    color: black;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

.fotoQs {
    margin-left: 40px;
}

.fotoCat {
    text-align: center;
    margin-top: 100px;
}

.logo {
    margin-left: 30px;
    margin-top: 80px;
}

.efectoGal img:hover {
    border: 5px solid #868686;
}

.contact {
    width: 40%;
    text-align: center;
    margin: auto;
}

.listaAgregados {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

ol,
ul {
    padding-left: 0rem !important;
}

@media screen and (max-width: 480px) {
    #galeria div div img {
        width: 65%;
    }
}